# Main I/O

# FMC1, column H
# CLK0_M2C_P / FMC1_H04
NET counter0_in_pin<0> LOC = L18 | IOSTANDARD = LVCMOS33;
# CLK0_M2C_N / FMC1_H05
# NET dds_syncI_pin LOC = L19 | IOSTANDARD = LVCMOS33;
# LA02_P / FMC1_H07
# NET axi_spi_5_MOSI_pin LOC = L21 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA02_N / FMC1_H08
# NET axi_spi_5_SCK_pin LOC = L22 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA04_P / FMC1_H10
Net dds_data_pin<14> LOC = M21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA04_N / FMC1_H11
Net dds_data_pin<12> LOC = M22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA07_P / FMC1_H13
Net dds_data_pin<10> LOC = J15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA07_N / FMC1_H14
Net dds_data_pin<08> LOC = K15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA11_P / FMC1_H16
Net dds_data_pin<06> LOC = R20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA11_N / FMC1_H17
Net dds_data_pin<04> LOC = R21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA15_P / FMC1_H19
Net dds_data_pin<02> LOC = P20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA15_N / FMC1_H20
Net dds_data_pin<00> LOC = P21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA19_P / FMC1_H22
Net dds_addr_pin<5> LOC = E19 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA19_N / FMC1_H23
Net dds_addr_pin<3> LOC = E20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA21_P / FMC1_H25
Net dds_addr_pin<1> LOC = F21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA21_N / FMC1_H26 / FUD
Net dds_FUD_pin<0> LOC = F22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA24_P / FMC1_H28 / WRB
Net dds_control_pin<0> LOC = A21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA24_N / FMC1_H29
Net dds_cs_pin<0> LOC = A22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA28_P / FMC1_H31
Net dds_cs_pin<2> LOC = D22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA28_N / FMC1_H32
Net dds_cs_pin<4> LOC = C22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA30_P / FMC1_H34
Net dds_cs_pin<6> LOC = E21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA30_N / FMC1_H35
Net dds_cs_pin<8> LOC = D21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;

# FMC1, column G
# CLK1_M2C_P / FMC1_G02
NET sync_counter0_p_pin LOC = M19 | IOSTANDARD = LVDS_25;
# CLK1_M2C_N / FMC1_G03
NET sync_counter0_n_pin LOC = M20 | IOSTANDARD = LVDS_25;
# LA00_P_CC / FMC1_G06
# Net axi_spi_5_SS_pin LOC = K19 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA00_N_CC / FMC1_G07
# Net axi_spi_5_MISO_pin LOC = K20 | IOSTANDARD = LVCMOS33;
# LA03_P / FMC1_G09
Net dds_data_pin<15> LOC = J20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA03_N / FMC1_G10
Net dds_data_pin<13> LOC = K21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA08_P / FMC1_G12
Net dds_data_pin<11> LOC = J21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA08_N / FMC1_G13
Net dds_data_pin<09> LOC = J22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA12_P / FMC1_G15
Net dds_data_pin<07> LOC = N22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA12_N / FMC1_G16
Net dds_data_pin<05> LOC = P22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA16_P / FMC1_G18
Net dds_data_pin<03> LOC = N15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA16_N / FMC1_G19
Net dds_data_pin<01> LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA20_P / FMC1_G21
Net dds_addr_pin<6> LOC = G20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA20_N / FMC1_G22
Net dds_addr_pin<4> LOC = G21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA22_P / FMC1_G24
Net dds_addr_pin<2> LOC = G17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA22_N / FMC1_G25
Net dds_addr_pin<0> LOC = F17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA25_P / FMC1_G27 / RESET
Net dds_control_pin<2> LOC = C15 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA25_N / FMC1_G28 / RDB
Net dds_control_pin<1> LOC = B15 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA29_P / FMC1_G30
Net dds_cs_pin<1> LOC = B16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA29_N / FMC1_G31
Net dds_cs_pin<3> LOC = B17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA31_P / FMC1_G33
Net dds_cs_pin<5> LOC = A16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA31_N / FMC1_G34
Net dds_cs_pin<7> LOC = A17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA33_P / FMC1_G36
Net dds_cs_pin<9> LOC = A18 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA33_N / FMC1_G37
Net dds_cs_pin<10> LOC = A19 | IOSTANDARD = LVCMOS33 | DRIVE = 4;

# FMC1, column D
# LA01_CC_P / FMC1_D08
# NET axi_spi_4_SCK_pin LOC = N19 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA01_CC_P / FMC1_D09
# NET axi_spi_4_MISO_pin LOC = N20 | IOSTANDARD = LVCMOS33;
# LA05_P / FMC1_D11
Net pulse_io_pin<08> LOC = N17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA05_N / FMC1_D12
Net pulse_io_pin<09> LOC = N18 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA09_P / FMC1_D14
Net pulse_io_pin<11> LOC = M15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA09_N / FMC1_D15
Net pulse_io_pin<13> LOC = M16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA13_P / FMC1_D17
Net pulse_io_pin<14> LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA13_N / FMC1_D18
Net axi_spi_0_SCK_pin LOC = R16 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA17_CC_P / FMC1_D20
NET axi_spi_0_MOSI_pin LOC = B19 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA17_CC_N / FMC1_D21
NET axi_spi_0_SS_pin LOC = B20 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA23_P / FMC1_D23
Net axi_spi_1_MOSI_pin LOC = G15 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA23_N / FMC1_D24
Net axi_spi_1_SS_pin LOC = G16 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA26_P / FMC1_D26
# Net axi_spi_2_MISO_pin LOC = F18 | IOSTANDARD = LVCMOS33;
# LA26_N / FMC1_D27
# Net axi_spi_2_SS_pin LOC = E18 | IOSTANDARD = LVCMOS33 | DRIVE = 8;

# FMC1, column C
# LA06_P / FMC1_C10
Net pulse_io_pin<06> LOC = J18 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA06_N / FMC1_C11
Net pulse_io_pin<07> LOC = K18 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA10_P / FMC1_C14
Net pulse_io_pin<10> LOC = L17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA10_N / FMC1_C15
Net pulse_io_pin<12> LOC = M17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA14_P / FMC1_C18
NET pulse_io_pin<15> LOC = J16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA14_N / FMC1_C19
NET axi_spi_0_MISO_pin LOC = J17 | IOSTANDARD = LVCMOS33;
# LA18_CC_P / FMC1_C22
NET axi_spi_1_SCK_pin LOC = D20 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA18_CC_N / FMC1_C23
NET axi_spi_1_MISO_pin LOC = C20 | IOSTANDARD = LVCMOS33;
# LA27_P / FMC1_C26
# NET axi_spi_2_SCK_pin LOC = C17 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA27_N / FMC1_C27
# NET axi_spi_2_MOSI_pin LOC = C18 | IOSTANDARD = LVCMOS33 | DRIVE = 8;


############################### FMC2 ######################################
# FMC2, column H
# CLK0_M2C_P / FMC2_H04
NET clock_out1_pin LOC = Y18 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# CLK1_M2C_P / FMC2_G02
NET clock_in_pin LOC = Y6 | IOSTANDARD = LVCMOS33;
# CLK0_M2C_N / FMC2_H05
# NET sync_counter1_pin LOC = AA18 | IOSTANDARD = LVCMOS33;
# LA02_P / FMC2_H07
Net pulse_io_pin<17> LOC = V14 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA02_N / FMC2_H08
# input: Net pulse_io_pin<19> LOC = V15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA04_P / FMC2_H10
Net dds_data2_pin<14> LOC = V13 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA04_N / FMC2_H11
Net dds_data2_pin<12> LOC = W13 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA07_P / FMC2_H13
Net dds_data2_pin<10> LOC = T21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA07_N / FMC2_H14
Net dds_data2_pin<08> LOC = U21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA11_P / FMC2_H16
Net dds_data2_pin<06> LOC = Y14 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA11_N / FMC2_H17
Net dds_data2_pin<04> LOC = AA14 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA15_P / FMC2_H19
Net dds_data2_pin<02> LOC = Y13 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA15_N / FMC2_H20
Net dds_data2_pin<00> LOC = AA13 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA19_P / FMC2_H22
Net dds_addr2_pin<5> LOC = R6 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA19_N / FMC2_H23
Net dds_addr2_pin<3> LOC = T6 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA21_P / FMC2_H25
Net dds_addr2_pin<1> LOC = V5 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA21_N / FMC2_H26 / FUD
Net dds_FUD_pin<1> LOC = V4 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA24_P / FMC2_H28 / WRB
Net dds_control2_pin<0> LOC = U6 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA24_N / FMC2_H29
Net dds_cs_pin<11> LOC = U5 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA28_P / FMC2_H31
Net dds_cs_pin<13> LOC = AB5 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA28_N / FMC2_H32
Net dds_cs_pin<15> LOC = AB4 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA30_P / FMC2_H34
Net dds_cs_pin<17> LOC = AB7 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA30_N / FMC2_H35
Net dds_cs_pin<19> LOC = AB6 | IOSTANDARD = LVCMOS33 | DRIVE = 4;

# FMC2, column G
# CLK1_M2C_P / FMC2_G02
NET dds_syncO_pin LOC = Y6 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# CLK1_M2C_N / FMC2_G03
NET dds_syncI_pin LOC = Y5 | IOSTANDARD = LVCMOS33;
# LA00_P_CC / FMC2_G06
Net pulse_io_pin<16> LOC = Y19 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA00_N_CC / FMC2_G07
Net pulse_io_pin<18> LOC = AA19 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA03_P / FMC2_G09
Net dds_data2_pin<15> LOC = AA16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA03_N / FMC2_G10
Net dds_data2_pin<13> LOC = AB16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA08_P / FMC2_G12
Net dds_data2_pin<11> LOC = AA17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA08_N / FMC2_G13
Net dds_data2_pin<09> LOC = AB17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA12_P / FMC2_G15
Net dds_data2_pin<07> LOC = W15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA12_N / FMC2_G16
Net dds_data2_pin<05> LOC = Y15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA16_P / FMC2_G18
Net dds_data2_pin<03> LOC = AB14 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA16_N / FMC2_G19
Net dds_data2_pin<01> LOC = AB15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA20_P / FMC2_G21
Net dds_addr2_pin<6> LOC = T4 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA20_N / FMC2_G22
Net dds_addr2_pin<4> LOC = U4 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA22_P / FMC2_G24
Net dds_addr2_pin<2> LOC = U10 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA22_N / FMC2_G25
Net dds_addr2_pin<0> LOC = U9 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA25_P / FMC2_G27 / RESET
Net dds_control2_pin<2> LOC = AA12 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA25_N / FMC2_G28 / RDB
Net dds_control2_pin<1> LOC = AB12 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA29_P / FMC2_G30
Net dds_cs_pin<12> LOC = AA11 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA29_N / FMC2_G31
Net dds_cs_pin<14> LOC = AB11 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA31_P / FMC2_G33
Net dds_cs_pin<16> LOC = AB10 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA31_N / FMC2_G34
Net dds_cs_pin<18> LOC = AB9 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA33_P / FMC2_G36
Net dds_cs_pin<20> LOC = Y11 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA33_P / FMC2_G37
Net dds_cs_pin<21> LOC = Y10 | IOSTANDARD = LVCMOS33 | DRIVE = 4;

# FMC2, column D
# LA01_CC_P / FMC2_D08
# input: NET pulse_io_pin<20> LOC = W16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA01_CC_P / FMC2_D9
NET pulse_io_pin<21> LOC = Y16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA05_P / FMC2_D11
Net pulse_io_pin<24> LOC = AB19 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA05_N / FMC2_D12
Net pulse_io_pin<25> LOC = AB20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA09_P / FMC2_D14
# input: Net pulse_io_pin<27> LOC = U15 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA09_N / FMC2_D15
Net pulse_io_pin<29> LOC = U16 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA13_P / FMC2_D17
Net pulse_io_pin<30> LOC = V22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA13_N / FMC2_D18
# Net axi_spi_3_SCK_pin LOC = W22 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
Net pulse_io_pin<19> LOC = W22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA17_CC_P / FMC2_D20
# NET axi_spi_3_MOSI_pin LOC = AA7 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
Net pulse_io_pin<27> LOC = AA7 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA17_CC_N / FMC2_D21
# NET axi_spi_3_SS_pin LOC = AA6 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
Net pulse_io_pin<20> LOC = AA6 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA23_P / FMC2_D23
# Net axi_spi_4_MOSI_pin LOC = V12 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET pulse_io_pin<28> LOC = V12 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA23_N / FMC2_D24
# Net axi_spi_4_SS_pin LOC = W12 | IOSTANDARD = LVCMOS33 | DRIVE = 8;
# LA26_P / FMC2_D26
Net pulse_io_pin<02> LOC = U12 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA26_N / FMC2_D27
# input: Net pulse_io_pin<00> LOC = U11 | IOSTANDARD = LVCMOS33 | DRIVE = 4;

# FMC2, column C
# LA06_P / FMC2_C10
Net pulse_io_pin<22> LOC = U17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA06_N / FMC2_C11
Net pulse_io_pin<23> LOC = V17 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA10_P / FMC2_C14
Net pulse_io_pin<26> LOC = Y20 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA10_N / FMC2_C15
# input: Net pulse_io_pin<28> LOC = Y21 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA14_P / FMC2_C18
NET pulse_io_pin<31> LOC = T22 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA14_N / FMC2_C19
# NET axi_spi_3_MISO_pin LOC = U22 | IOSTANDARD = LVCMOS33;
# LA18_CC_P / FMC2_C22
NET pulse_io_pin<04> LOC = AA9 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA18_CC_N / FMC2_C23
NET pulse_io_pin<05> LOC = AA8 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA27_P / FMC2_C26
Net pulse_io_pin<03> LOC = AB2 | IOSTANDARD = LVCMOS33 | DRIVE = 4;
# LA27_N / FMC2_C27
Net pulse_io_pin<01> LOC = AB1 | IOSTANDARD = LVCMOS33 | DRIVE = 4;


### DDS pins

## data bits [0:7]

## address bits [0:5]


## control bits

# board select
